@import "../../styles/variables";
@import "../../styles/animations";

.peculiarities {
  color: $text-color--default;
  background-color: $background-color--primary;
  display: flex;
  padding: 8em 5em;
  flex-wrap: wrap;

  justify-content: space-around;
}

.peculiarity {
  width: 25vw;
}